/* Add spacing between product cards in main collection */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 7.75rem;
}

.product-grid .grid__item {
  flex: 0 0 calc(30% - 1.5rem);
  min-width: 280px;
}

@media screen and (max-width: 1350px) {
  .product-grid {
    gap: 5rem;
  }
}

@media screen and (max-width: 1075px) {
  .product-grid {
    gap: 3rem;
  }
}

@media screen and (max-width: 749px) {
  .product-grid {
    gap: 1.5rem;
  }

  .product-grid .grid__item {
    flex: 0 0 calc(50% - 0.75rem);
    min-width: 100%;
  }
}
